/* Classes générales */
.rounded-box{
    border-radius: 17px;
}

.form-button{
    border-radius: 17px;
    padding: 1px;
    font-size: 30px;
    padding: 10px 10px;
    margin: 10px;
    min-width: 150px;
    font-family: 'Bebas Neue';
    border: none;
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

.red{
    color: red;
}

.red_background{
    background-color: #ff0000;   
}

.black-transparent-background{
    background-color: rgba(0,0,0,.8);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48
}

/* UI header */
#logo:hover {
    cursor: pointer;
}

#banniere {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    margin-bottom: 10px;
    height: 100px;
}

#logo {
    float: left;
    margin: -14px;
}

#liens {
    float: left;
    margin-top: 30px;
}

.lien {
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto";
    color: #FFFFFF;
    margin-left: 64px;
}

.selected {
    color: #FF0000;
}

#signs {
    position: absolute;
    right: 0px;
    top: 48px;
}

.sign {
    margin-right: 64px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Bebas Neue";
    padding: 8px 40px;
    border-radius: 22px;
    text-decoration: none;
}
#signin {
    background-color: #FF0000;
    color: #FFFFFF
}

#signup {
    background-color: #FFB3B3;
    color: #000000;
}

#menu-image:hover {
    cursor: pointer;
}

#menu {
    position: absolute;
    right: 20px;
    top: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -12px;
    background-color: #D9D9D9;
    padding: 8px 40px;
    border-radius: 25px;
    z-index: 1;
}

.dropdown-content a {
    font-family: "AnonymousPro";
    font-size: 25;
    font-weight: bold;
    color: #000000;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
}

/* UI page d'accueil */
#home-div .material-symbols-outlined{
    font-size: 50px;
}

#home-div {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1000px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: 'Bebas Neue';
}

#home-div p {
    color: white;
    font-size: 50px;
}

#home-div h1 {
    color: white;
    font-size: 100px;
}

/* Affichade d'erreur dans les formulaires signup et signin */
#err-div {
    background-color: #ff000060;
    border-radius: 17px;
    border: #ff0000 solid 3px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Mise en page de signup           */
#signup-div {
    min-width: 200px;
    max-width: 1000px;
    padding: 40px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Bebas Neue';
}

#signup-div label{
    color: white;
    font-size: 40px;
}

#signup-div input[value='Annuler'] {
    background-color: #ffb3b3;
}

#signup-div input[value='SIGN UP'] {
    background-color: #ff0000;
    color: white;
}

/* UI text input des formulaire signup et signin */
.connection-text-input{
    border-radius: 7px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    max-width: 700px;
    min-width: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Bebas Neue';
}

/* UI signin                     */
#signin-div {
    text-align: center;
    min-width: 200px;
    max-width: 1000px;
    padding: 40px;
    margin-top: 100px;
    font-family: 'Bebas Neue';
}

#signin-div input[value="Annuler"] {
    background-color: #ffb3b3;
}

#signin-div input[value="SIGN IN"] {
    background-color: #ff0000;
    color: white;
}